.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces, .cabecera .barra_principal, .cabecera .barra_principal ul, .cabecera .barra_principal ul li, .cabecera .barra_principal ul li a, .cabecera .barra_principal .buscar, .cabecera .barra_menu, .menu_principal, .menu_principal #navbarNav, .menu_principal ul, .page-template-template-homepage .contenido #iconos, .page-template-template-homepage .contenido #categorias .lista .columna, .page-template-template-homepage .contenido #categorias .lista .columna .grupo, #contacto .info1, #contacto .info_contacto .contenedor, #contacto .info_contacto .contenedor .enlaces .grupo, #contacto .info_contacto .contenedor .enlaces .grupo .enlace, #contacto .info_contacto .contenedor .logostarjetas, .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "arl";
  src: url("../fonts/ARLRDBD.TTF") format("truetype");
}

@font-face {
  font-family: "bahn";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "frabk";
  src: url("../fonts/FRABK.TTF") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mont";
  src: url("../fonts/Montserrat-Medium.ttf") format("tretype");
}

@font-face {
  font-family: "segoe";
  src: url("../fonts/segoe-ui-light-2.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("../fonts/Bebas.otf") format("truetype");
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}
.t-blue{
  color: #2f5274;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

/* 
*******************************************************************************************
-----------------------------------------  generales --------------------------------------   
*******************************************************************************************
*/
.boton-shadow {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /*Sombra leve*/
  border-radius: 2px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}

.boton-shadow:hover, .boton-shadow:active {
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.title__section {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
    left: 51rem !important;
    top: 50rem !important;
}

.title__section h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section img {
  width: 16% !important;
  height: 100%;
}

.clase  {
  background-color: #0a0a0a;
  height: 700px !important ;
}

.clase h1 {
  padding-top: 2%;
  font-size: 4rem !important;
  padding-left: 43% !important;
  text-transform: uppercase;
  font-family: "bebas";
  color: #ffffff;
}

body {
  /* font-family: Arial; */
  font-family: "Montserrat";
}

#masthead {
  display: none;
}

.storefront-product-section {
  display: none;
}


.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.centrado{
  position: absolute;
  top: 51% !important;
  left: 7.8% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 3.5rem !important;
  transform: translate(-50%, -50%);
}

.centrado a{
  color: #ffffff;
  font-family: bebas;
  font-size: 2.7rem !important;
  transform: translate(-50%, -50%);
}

/* 
*******************************************************************************************
-----------------------------------------  header -----------------------------------------   
*******************************************************************************************
*/
.cabecera {
  width: 100%;
  background-color: #0a0a0a;
}

.cabecera .barra_principal {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #061a7a;
  background-image: url(../images/inicioinicio.png);
  background-size: 100% 100%;
  padding: 1rem 0.5rem;
}

.cabecera .barra_principal ul {
  list-style: none;
  margin: 0;
  height: 2rem;
}

.cabecera .barra_principal ul li {
  
  height: 100%;
  padding: 1.5rem 0.5rem;
}

.cabecera .barra_principal ul li a {
  margin: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-family: "segoe";
  text-decoration: none;
}

.cabecera .barra_principal ul li a img {
  margin-right: 0.4rem;
  width: 2rem;
}

.cabecera .barra_principal ul li:last-child {
  border-right: none;
}

.cabecera .barra_principal ul li:hover a {
  color: rgba(255, 255, 255, 0.726);
}

.cabecera .barra_principal .buscar {
  width: 100%;
}

.cabecera .barra_principal .buscar .label {
  background-color: white;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0.7rem;
  text-transform: uppercase;
  color: gray;
  filter: alpha(opacity=50);
}

.cabecera .barra_principal .buscar form {
  margin-bottom: 0;
  width: 60%;
}

.cabecera .barra_principal .buscar input {
  text-transform: none;
  width: 100%;
  height: 2rem;
  background-color: white;
}

.cabecera .barra_principal .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_principal .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cabecera .barra_principal .logo {
  width: 20%;
  padding: 1rem;
}

.cabecera .barra_principal .logo img {
  width: 100%;
}











.cabecera .barra_menu {
  background-color: #0a0a0a;
  width: -webkit-fill-available;
}

.cabecera .barra_menu .logo {
  width: 15% !important;
  padding: 1rem;
}

.cabecera .barra_menu .logo img {
  width: 65% !important;
}

.cabecera .barra_menu .menu_principal {
  width: 55% !important;
}




.cabecera .barra_menu .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_menu .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}


.menu_principal ul {
  margin: 0;
}

.menu_principal ul li {
  text-decoration: none;
  list-style: none;
  padding: 0rem 1rem;
  text-transform: uppercase;
}

.menu_principal ul li a {
  color: #ffffff;
  font-family: "bebas";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2rem !important;
}

.menu_principal ul li:hover a {
  color: black;
}


.nav-social{
  position: absolute;
  right: 9% !important;
  top: 7% !important;
  padding: 1rem;
  display: flex !important;
}
.nav-social img{
  height: 3rem !important;
}


.navbar-nav {
  display: contents;
}


/* 
*******************************************************************************************
--------------------------------------  contenido -----------------------------------------   
*******************************************************************************************
*/
.page-template-template-homepage .contenido {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio img {
  width: 100%;
}

.page-template-template-homepage .contenido #iconos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
}

.page-template-template-homepage .contenido #iconos a {
  height: 10rem;
  width: 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-template-template-homepage .contenido #iconos a img {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.page-template-template-homepage .contenido #iconos a:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage .contenido #categorias {
  margin-top: 2rem;
  width: 100%;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento {
  width: 10rem;
  margin: 1rem;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento img {
  height: 5rem;
  margin-bottom: 1rem;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .varios {
  padding: 2rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .vehiculos {
  height: auto;
  padding: 1rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido .productos, .page-template-template-homepage .contenido #nuevasofertas .productos {
  width: 95%;
  margin-top: 2rem;
  font-family: "arl";
}

.page-template-template-homepage .contenido #lomasvendido .productos .add_to_cart_button, .page-template-template-homepage .contenido #nuevasofertas .productos .add_to_cart_button {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link {
  position: relative;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .onsale, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .onsale {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .price, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .price {
  color: #061a7a;
  font-weight: bolder;
  font-size: 1.3rem;
}

.page-template-template-homepage #page .storefront-breadcrumb {
  display: none !important;
}

.page-template-template-homepage #page main {
  padding-top: 0;
}

.page-template-template-homepage #page main #post-5 {
  display: none;
}

.page-template-template-homepage #content .col-full {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}


#conta{
  background-image: url('../images/New Project (3).png') !important;
  background-size: 100% 100%;
  min-height: 39rem !important;
}

#conocenos{
  background-image: url('../images/CONOCENOS.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#surf{
  background-image: url('../images/SURF.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#campamento{
  background-image: url('../images/PROXIMAMENTE2.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#campamento2{
  background-image: url('../images/PROXIMAMENTE3.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#campamento3{
  background-image: url('../images/PROXIMAMENTE1.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#donaciones{
  background-image: url('../images/jeje(2).png') !important;
  background-size: 100% 100%;
  min-height: 70rem !important;
}

#principal{
  background-image: url('../images/PRINCIPAL.png') !important;
  background-size: 100% 100%;
  min-height: 70rem !important;
}

/* 
*******************************************************************************************
-----------------------------------------  footer -----------------------------------------   
*******************************************************************************************
*/
#contacto {
  background-image: url(../images/exportado-292.png);
  background-size: 100% 100%;
  font-family: "mont";
  position: relative;
  min-width: 200px;
}

#contacto .garantia {
  position: absolute;
  width: 5rem;
  top: -2.5rem;
  right: 4rem;
}

#contacto .info1 .elemento {
  width: 20%;
  margin: 3%;
  font-family: "Montserrat";
  color: black;
  font-size: 0.9rem;
}

#contacto .info1 .elemento strong {
  width: 100%;
  margin: 1rem 0;
}

#contacto .info1 .elemento img {
  height: 4rem;
}

#contacto .info_contacto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-family: "Montserrat";
  margin-bottom: 1rem;
  
}

#contacto .info_contacto h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 2rem;
  color: #ffffff;
}

#contacto .info_contacto .contenedor {
  width: 100%;
}

#contacto .info_contacto .contenedor .enlaces {
  width: 60%;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace {
  width: 50%;
  margin: 0.55rem;
  color: white;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace img {
  width: 2.5rem;
  margin-right: 1rem;
}

#contacto .info_contacto .contenedor .logostarjetas {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#contacto .info_contacto .contenedor .logostarjetas img {
  width: 5rem;
  margin: 1rem;
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: white;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
  font-family: "Montserrat";
  background-color: black;
}

footer .col-full {
  max-width: inherit;
  padding: 0rem;
  width: 100%;
  margin: 0rem;
}

.division{
  display: flex !important;
}


/*@media (max-width: 2300px) {
  .centrado{
    font-size: 3rem !important;
  }
  #conta{
    min-height: 31rem !important;
  }
}


@media (max-width: 2000px) {
  .cabecera .barra_menu .menu_principal {
    width: 52% !important;
  }
  
  .menu_principal ul li a {
    font-size: 1.5rem !important;
  }
  
  

  .centrado{
    font-size: 2.7rem !important;
  }

  #conta{
    min-height: 27rem !important;
  }

}*/

@media (max-width: 1820px) {

  .title__section {
      left: 47.5rem !important;
  }

  #donaciones{
    min-height: 65rem !important;
  }
  .clase  {
    height: 600px !important ;
  }

  #conta{
    min-height: 37rem !important;
  }
}


@media (max-width: 1720px) {

  .title__section {
      left: 46rem !important;
  }

  #donaciones{
    min-height: 60rem !important;
  }
  .clase  {
    height: 600px !important ;
  }

  #conta{
    min-height: 33rem !important;
  }
}


@media (max-width: 1620px) {

  .title__section {
      left: 43.5rem !important;
  }

  #donaciones{
    min-height: 55rem !important;
  }
  .clase  {
    height: 500px !important ;
  }

  #conta{
    min-height: 34rem !important;
  }
}


@media (max-width: 1520px) {
  
  #conocenos{
    min-height: 65rem !important;
  }
  
  #surf{
    min-height: 65rem !important;
  }
  
  #campamento{
    min-height: 65rem !important;
  }
  
  #campamento2{
    min-height: 65rem !important;
  }
  
  #campamento3{
    min-height: 65rem !important;
  }
  


  .title__section {
      left: 40rem !important;
      top: 42rem !important;
  }

  #donaciones{
    min-height: 50rem !important;
  }
  .clase  {
    height: 500px !important ;
  }

  #conta{
    min-height: 30rem !important;
  }
}




@media (max-width: 1420px) {
  
  #conocenos{
    min-height: 50rem !important;
  }
  
  #surf{
    min-height: 50rem !important;
  }
  
  #campamento{
    min-height: 50rem !important;
  }
  
  #campamento2{
    min-height: 50rem !important;
  }
  
  #campamento3{
    min-height: 50rem !important;
  }
  


  .title__section {
      left: 37rem !important;
      top: 33rem !important;
  }

  #donaciones{
    min-height: 45rem !important;
  }
  .clase  {
    height: 450px !important ;
  }

  .clase h1 {
    padding-left: 39% !important;
  }

  #conta{
    min-height: 30rem !important;
  }

  .centrado a{
    font-size: 2.5rem !important;
  }
}



@media (max-width: 1320px) {

  .title__section {
      left: 34.5rem !important;
  }
}

@media (max-width: 1220px) {

  .title__section {
      left: 31.5rem !important;
  }

  #donaciones{
    min-height: 40rem !important;
  }
  .clase  {
    height: 425px !important ;
  }

  #conta{
    min-height: 26rem !important;
  }

  .centrado a{
    font-size: 2.2rem !important;
  }
}

@media (max-width: 1120px) {

  .title__section {
      left: 30rem !important;
  }
}

@media (max-width: 1050px) {
  #donaciones{
    min-height: 35rem !important;
  }

  #conta{
    min-height: 22rem !important;
  }

  .clase h1 {
    padding-left: 39% !important;
    font-size: 3rem !important;
  }

  .centrado a{
    font-size: 2.1rem !important;
  }

  .title__section {
    left: 28rem !important;
}
.clase  {
  height: 350px !important ;
}
}





@media (max-width: 768px) {

  .nav-social{
    display: none !important;
  }

  .cabecera .barra_menu .logo {
    width: 21% !important;
  }
  
  .cabecera .barra_menu .logo img {
    width: 100% !important;
  }

  
  #conocenos{
    min-height: 28rem !important;
  }
  
  #surf{
    min-height:28rem !important;
  }
  
  #campamento{
    min-height:28rem !important;
  }
  
  #campamento2{
    min-height: 28rem !important;
  }
  
  #campamento3{
    min-height: 28rem !important;
  }
  


  .title__section {
      left: 20rem !important;
      top: 19rem !important;
  }

  #donaciones{
    min-height: 25rem !important;
  }
  .clase  {
    height: 275px !important ;
  }

  .clase h1 {
    padding-left: 39% !important;
    font-size: 2.5rem !important;
  }

  #conta{
    min-height: 17rem !important;
  }

  .centrado a{
    font-size: 1.4rem !important;
    
  }


  .centrado{
    top: 38% !important;
  }
}




@media (max-width: 414px) {


  .nav-social{
    display: none !important;
  }
  .cabecera .barra_menu .logo {
    width: 31% !important;
  }
  
  .cabecera .barra_menu .logo img {
    width: 100% !important;
  }

  
  #conocenos{
    min-height: 15rem !important;
  }
  
  #surf{
    min-height:15rem !important;
  }
  
  #campamento{
    min-height:15rem !important;
  }
  
  #campamento2{
    min-height: 15rem !important;
  }
  
  #campamento3{
    min-height: 15rem !important;
  }
  


  .title__section {
      left: 10.5rem !important;
      top: 10rem !important;
  }

  .title__section img {
    width: 20% !important;
  }

  #donaciones{
    min-height: 15rem !important;
  }
  .clase  {
    height: 175px !important ;
  }

  .clase h1 {
    padding-left: 32% !important;
    font-size: 2rem !important;
  }

  #conta{
    min-height: 10rem !important;
  }

  .centrado a{
    font-size: 1rem !important;
    
  }


  .centrado{
    top: 23% !important;
    left: 9.8% !important ;
  }
}




@media (max-width: 375px) {


  .nav-social{
    display: none !important;
  }
  .cabecera .barra_menu .logo {
    width: 31% !important;
  }
  
  .cabecera .barra_menu .logo img {
    width: 100% !important;
  }

  
  #conocenos{
    min-height: 15rem !important;
  }
  
  #surf{
    min-height:15rem !important;
  }
  
  #campamento{
    min-height:15rem !important;
  }
  
  #campamento2{
    min-height: 15rem !important;
  }
  
  #campamento3{
    min-height: 15rem !important;
  }
  


  .title__section {
      left: 9rem !important;
      top: 10rem !important;
  }

  .title__section img {
    width: 20% !important;
  }

  #donaciones{
    min-height: 15rem !important;
  }
  .clase  {
    height: 150px !important ;
  }

  .clase h1 {
    padding-left: 30% !important;
    font-size: 2rem !important;
  }

  #conta{
    min-height: 9rem !important;
  }

  .centrado a{
    font-size: 0.9rem !important;
    
  }


  .centrado{
    top: 15% !important;
    left: 9.8% !important ;
  }
}
/*@media (max-width: 1750px) {
  .cabecera .barra_menu .menu_principal {
    width: 47% !important;
  }
  
  .menu_principal ul li a {
    font-size: 1rem !important;
  }
  

  .centrado{
    font-size: 2.3rem !important;
  }

  #conta{
    min-height: 22rem !important;
  }

}

@media (max-width: 1550px) {

  #conta{
    min-height: 20rem !important;
  }

}


@media (max-width: 1470px) {
  .cabecera .barra_menu .menu_principal {
    width: 43% !important;
  }
  
  .menu_principal ul li a {
    font-size: 0.7rem !important;
  }
  
  .nav-social img{
    height: 4rem !important;
  }

  .nav-social{
    top: 0% !important;
  }

  .cabecera .barra_menu .logo img {
    width: 30%;
  }
  .centrado{
    font-size: 1.6rem !important;
    left: 7.4% !important;
  }

  #conta{
    min-height: 17rem !important;
  }

  .title__section img {
    width: 15% !important;
  }

}




@media (max-width: 1300px) {
  .cabecera .barra_menu .logo {
    width: 7% !important;
  }

  .cabecera .barra_menu .logo img {
    width: 141% !important;
  }

  .nav-item{
    padding-right: 50rem !important;
  }


  .cabecera .barra_menu .menu_principal {
    width: 43% !important;
  }
  
  
  .menu_principal ul li a {
    font-size: 1rem !important;
  }
  
  .nav-social{
    top: 1% !important;
  }
}

@media (max-width: 1175px) {

  .nav-social img{
    height: 3rem !important;
    right: 0% !important;
  } 

  .menu_principal ul li a {
    font-size: 1rem !important;
  }


  .cabecera .barra_menu .logo {
    width: 7% !important;
  }

  .cabecera .barra_menu .logo img {
    width: 141% !important;
  }

  .nav-item{
    padding-right: 47rem !important;
  }


  .cabecera .barra_menu .menu_principal {
    width: 43% !important;
    display: -webkit-inline-box;
  }
  
  .nav-social{
    top: -3% !important;
    right: 12% !important;
  }

  #conta{
    min-height: 15rem !important;
  }

  .centrado{
    font-size: 1.4rem !important;
  }
}



@media (max-width: 992px) {

  .menu_principal ul li a {
    font-size: 0.9rem !important;
  }

  .nav-item{
    padding-right: 40rem !important;
  }

  .nav-social{
    right: 8% !important;
  }
  .centrado{
    font-size: 1.1rem !important;
  }
  #conta{
    min-height: 13rem !important;
  }

}


@media (max-width: 991px) {

  .nav-social{
    right: 8% !important;
    visibility: hidden !important;
  }
  .division{
    display: none !important;
  }
  .cabecera .barra_menu .logo {
    width: 14% !important;
  }
}


@media (max-width: 875px) {
  #conta{
    min-height: 12rem !important;
  }
}


@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 5rem;
  }
  .page-template-template-homepage .contenido #categorias .lista .columna {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor .enlaces, #contacto .info_contacto .contenedor .logostarjetas {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #conta{
    background-image: url('../images/jeje.png') !important;
    min-height: 24rem !important;
  }
  .title__section img {
    width: 25% !important;
  }
  .centrado{
    font-size: 1.5rem !important;
    left: 12% !important;
  }
}

@media (max-width: 667px) {
  #conta{
    min-height: 22rem !important;
  }
  .centrado{
    font-size: 1.3rem !important;
  }
}

@media (max-width: 567px) {
  #conta{
    min-height: 19rem !important;
  }
  .centrado{
    font-size: 1.1rem !important;
  }
}

@media (max-width: 480px) {
  #conta{
    min-height: 16rem !important;
  }
  .centrado{
    font-size: 1rem !important;
  }
  .cabecera .barra_menu .logo {
    width: 20% !important;
  }
}

@media (max-width: 400px) {
  #conta{
    min-height: 14rem !important;
  }
  .centrado{
    font-size: 0.9rem !important;
  }
}*/


/*# sourceMappingURL=tech.css.map */